@model IEnumerable<Ikhon.GBWeb.Application.ViewModels.EventoViewModel>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Pessoa.TXT_NOME)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TXT_EVENTO)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DT_EVENTO_INICIO)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DT_EVENTO_FIM)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TXT_LOCAL)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.COD_ATIVO)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Pessoa.TXT_NOME)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TXT_EVENTO)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DT_EVENTO_INICIO)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DT_EVENTO_FIM)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TXT_LOCAL)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.COD_ATIVO)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.COD_EVENTO }) |
            @Html.ActionLink("Details", "Details", new { id=item.COD_EVENTO }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.COD_EVENTO })
        </td>
    </tr>
}

</table>
